@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    @apply text-dark;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;

    @screen lg {
      padding: 0 30px;
      max-width: 1440px;
    }
  }
}

@layer utilities {
  .font-lemon-milk {
    font-family: 'Lemon Milk', sans-serif;
  }
  .between{
    justify-content: space-between;
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .absolute-top-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-radio {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @apply relative block cursor-pointer;
  }

  .custom-radio input[type="radio"] {
    @apply opacity-0 cursor-pointer absolute w-full h-full;
  }

  .custom-radio-mark {
    @apply block w-4 h-4;
  }

  .custom-radio-mark:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='7.25' stroke='%233C3C3B' stroke-width='1.5'/%3E%3C/svg%3E");
  }

  .custom-radio input[type="radio"]:checked~.custom-radio-mark:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='5.5' stroke='%233C3C3B' stroke-width='5'/%3E%3C/svg%3E");
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  #nutritionalTable table {
    @apply table-auto text-white text-xs lg:text-sm !h-auto;
  }

  #nutritionalTable table thead tr th {
    @apply text-left;
  }

  #nutritionalTable table tbody tr {
    @apply border-b border-[#f0f0ee33] !h-auto;
  }

  #nutritionalTable table tbody tr td {
    @apply py-2 !h-auto;
  }

  #nutritionalTable h6 {
    @apply w-full text-xs text-white;
  }

  #benefitsSlider {
    @apply pb-11;
  }

  #benefitsSlider .swiper-pagination {
    @apply bottom-0;
  }

  #benefitsSlider .swiper-pagination .swiper-pagination-bullet {
    @apply bg-light-gray;
  }

  #benefitsSlider .swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-dark;
  }

  .swiper-pagination {
    @apply !static flex justify-center mt-8;
  }

  .swiper-pagination .swiper-pagination-bullet {
    @apply bg-light-gray;
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply bg-dark;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@layer utilities {
  .searchbarInput {
    width: calc(100% - 57px);
    @apply text-xs pr-0 pr-1;
  }

  .menuListContainer {
    border: 1px solid #EDEDED;
    border-top: 0;
    margin-top: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .isSticky .dot {
    display: none;
  }

  .dot {
    background-color: #d2d2d2;
    border-radius: 50%;
    height: 3.75px;
    width: 3.75px;
  }

  .dot:last-child {
    display: none;
  }

  .benefitdot {
    background-color: #d2d2d2;
    border-radius: 50%;
    height: 3.75px;
    width: 3.75px;
  }

  .header::before {
    background: linear-gradient(270deg, #e9530e, #e4003f);
    content: "";
    height: 4px;
    width: 100%;
    display: block;
  }

  .alertul {
    justify-content: space-around;
  }

  .menuListContainer>li {
    border-top: 1px solid #EDEDED;
  }

  .menuListContainer>li:nth-child(1) {
    width: calc(100% + 2px);
    margin: -30px -1px 0;
    z-index: 1;
    position: relative;
  }

  .menuListContainer>li:nth-child(1),
  .menuListContainer>li:nth-child(2) {
    border-top: 0;
  }

  .fontWithGradient {
    background: rgb(228, 0, 63);
    background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, rgba(233, 83, 14, 1) 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sociais {
    padding: .5rem;
    border: 1px solid #e4003f;
    border-radius: 30px;
  }

  #navBarWrapper {
    @apply hidden lg:block;
  }

  #menuCompact {
    @apply hidden;
  }

  .isSticky #menuCompact {
    @apply flex;
  }

  .isSticky #menuCompact> :first-child {
    gap: 32px;
  }

  .isSticky #navBar {
    gap: 32px;
  }

  #searchBar {
    @apply w-full;
    max-width: 786px;
  }

  #searchBar form,
  #searchBar input {
    background-color: #F0F0EE;
  }


  .isSticky #searchBar {
    max-width: 283px;
    z-index: 100;
  }

  .searching {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: unset;
  }

  .isSticky .menu-dot {
    display: none;
  }

  .menu-dot {
    background-color: #d2d2d2;
    border-radius: 50%;
    height: 3.75px;
    width: 3.75px;
  }

  .menu-dot:last-child {
    display: none;
  }

  #searchBarMobile {
    @apply block container pb-[18px];
  }

  #searchBarMobile form button {
    @apply py-3 px-6;
  }

  .isSticky #searchBarMobile {
    @apply w-full hidden;
    max-width: calc(100% - 86px - 72px - 30px);
  }

  #quickMenu {
    @apply hidden lg:block pb-[18px];
  }

  .isSticky #quickMenu {
    @apply !hidden;
  }

  .isSticky #logo img {
    width: 98px;
    height: 34px;
  }

  #stickyHeaderLinks {
    @apply hidden items-center gap-[0.75rem];
  }

  .isSticky #stickyHeaderLinks {
    @apply flex;
  }

  #nonStickyHeaderLinks {
    @apply flex justify-between items-center gap-[24px];
  }

  .isSticky #nonStickyHeaderLinks {
    @apply hidden;
  }

  #searchBarMobileOnSticky {
    @apply hidden container lg:pb-0 pl-0;
  }

  .isSticky #searchBarMobileOnSticky {
    @apply block !pr-0;
  }

  :not(.isSticky) #navBarWrapper #navBar #submenu {
    margin-top: 15px !important;

  }

  #navBarWrapper #navBar {
    @apply bg-white;
  }

  .isSticky #navBarWrapper #navBar {
    @apply py-2;
  }

  .wrapper-header-mobile {
    @apply bg-white;
  }

  .isSticky .wrapper-header-mobile {
    @apply items-center gap-3 rounded-b-2xl bg-white;
  }

  .isSticky .wrapper-header-mobile #logoMobile {
    width: 86px;
    height: 30px;
  }

  .wrapper-header-mobile #logoMobile {
    width: 103px;
    height: 36px;
  }

  .isSticky .wrapper-header-mobile .searchBarForm {
    @apply !bg-ice border-light-gray-200;
  }

  .isSticky .wrapper-header-mobile .searchBarForm #search-input {
    @apply !bg-ice text-xs pl-4 pr-0 h-8;
  }

  .isSticky .wrapper-header-mobile .searchBarForm button {
    @apply pr-4 pl-0 h-8;
    min-height: 32px;
  }

  .isSticky .wrapper-header-mobile .searchBarForm button svg {
    @apply w-4 h-4;
  }

  #navBarWrapper #navBar {
    @apply pt-6 pb-[18px];
  }

  #submenu {
    box-shadow: 0 44px 44px rgba(0, 0, 0, .4);
    border-radius: 0 0 20px 20px;
    transition-duration: .1s;
    width: 100%;
    margin: auto;
    background-color: white;
    position: absolute;
    left: 0;
    transform: translateX(0);
    z-index: 1;
  }

  #submenu>div {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .btnHighlight {
    border-radius: 300px;
    width: 200px;
    z-index: 2;

  }

  .btnHighlight:visited,
  .btnHighlight:active,
  .btnHighlight:focus,
  .btnHighlight:hover {
    border: 1px solid #e9530e;
  }

  .menu {
    @apply p-0
  }

  .isSticky .menu {
    @apply text-[0.79rem]
  }

  #menuHeader>li:first-child #menuItem {
    @apply text-white;
  }

  #menuHeader>li:not(:hover):first-child #menuItem {
    background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, rgba(233, 83, 14, 1) 70%);
    border-radius: 300px;
    border: 1px solid #e8530e;
    padding: 12px 24px;
    z-index: 50;
  }

  #menuHeader>li:hover:first-child #menuItem {
    border-radius: 300px;
    border: 1px solid #e8530e;
    padding: 12px 24px;
    z-index: 50;
  }

  #menuHeader>li #menuItem.has-submenu {
    @apply flex items-center flex-row;
  }

  #menuHeader>li #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4.79688 6L8.79688 10L12.7969 6' stroke='%233C3C3B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  #menuHeader>li:first-child #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  #menuHeader>li:hover #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23FF0000'  stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  .menuCompactItem li #menuItem {
    font-size: 11px;
    align-items: center;
    gap: 4px;
  }

  .menuCompactItem>li:first-child #menuItem {
    @apply text-white;
  }

  .menuCompactItem>li:not(:hover):first-child #menuItem {
    background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, rgba(233, 83, 14, 1) 70%);
    border-radius: 300px;
    border: 1px solid #e8530e;
    padding: 12px 24px;
    z-index: 50;
  }

  .menuCompactItem>li:hover:first-child #menuItem {
    border-radius: 300px;
    border: 1px solid #e8530e;
    padding: 12px 24px;
    z-index: 50;
  }

  .menuCompactItem>li #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4.79688 6L8.79688 10L12.7969 6' stroke='%233C3C3B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  .menuCompactItem>li:first-child #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  .menuCompactItem>li:hover #menuItem.has-submenu::after,
  .menuCompactItem>li:first-child:hover #menuItem.has-submenu::after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23FF0000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    height: fit-content;
    margin-top: 4px;
  }

  input[type="checkbox"]:checked~.highlight_btn {
    border-radius: 300px;
    border: 1px solid #e8530e;
  }


  input[type="checkbox"]:not(:checked)~.highlight_btn {
    background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, rgba(233, 83, 14, 1) 70%);
    border-radius: 300px;
    color: white;
  }

  input[type="checkbox"]:checked ~ .menuMobileItem{
    background: rgb(228, 0, 63);
    background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, #e9530e 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e9530e;
  }
   .cartMobile .indicator span{
    margin: -4px -7px 0px 0px;
   }

}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.borderHeader::before {
  background: linear-gradient(270deg, #e9530e, #e4003f);
  content: "";
  height: 4px;
  width: 100%;
  display: block;
}

.bg-brand {
  background: #e4003f;
  background: linear-gradient(90deg, rgba(228, 0, 63, 1) 35%, rgba(233, 83, 14, 1) 70%);
}

.bg-belga {
  background: rgb(191, 171, 148);
  background: linear-gradient(45deg, rgba(191, 171, 148, 1) 5%, rgba(145, 111, 74, 1) 52%);
}

.seachContainer {
  max-width: calc(100% - 86px - 72px - 30px);
  width: 100%;
}

@media (max-width: 640px) {
  #selector-options {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }
}

@media (max-width: 414px) {
  #search-input::placeholder {
    font-size: 11px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E2E2E2; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D2D2D2; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D2D2D2; 
}

/* Trustvox - init */

.ts-product-reviews-overview-featured {
  display: none !important;
}

.ts-information-and-survey-result {
  display: flex !important;
  flex-direction: column !important;
}

.ts-information-and-survey-result .ts-v-percentage-circle {
  display: none !important;
}

.ts-information-and-survey-result .ts-v-percentage-label {
  position: static !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}

.ts-information-and-survey-result .ts-v-recommendations_text {
  color: #3C3C3B !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.ts-v-recommendations {
  align-items: center !important;
  /* -webkit-box-align: baseline; */
}

.trustvox-widget, 
.trustvox-widget div, 
.trustvox-widget span {
  font-family: Inter, sans-serif !important;
}

.ts-v-recommendations {
  margin: 16px 0 0 !important;
}

.ts-v-rating-based-on {
  display: none !important;
}

.ts-v-rating-note {
  /* font-family: Lemon Milk, sans-serif !important; */
  margin: 0 0 16px !important;
}

span.ts-v-rating-note_value {
  font-family: Lemon Milk, sans-serif !important;
  font-size: 40px !important;
}

span.ts-v-rating-note_of {
  font-family: Lemon Milk, sans-serif !important;
  font-size: 40px !important;
  font-weight: 300 !important;
}

.ts-v-rating_label {
  display: none;
}

.ts-product-reviews-list .ts-header {
  padding: 16px 0 24px !important;
  margin: 0 !important;
  border: 0 !important;
  gap: 24px !important;
}

.ts-product-reviews-list .ts-header .ts-header_title {
  height: auto !important;
}

.ts-product-reviews-list .ts-header .ts-header_title > span {
  font-family: Lemon Milk, sans-serif !important;
  font-size: 14px !important;
}

.ts-product-reviews-list-filter .qa-product-showing-text {
  display: none !important;
}

.ts-product-reviews-list-filter .ts-dropdown {
  background: #F0F0EE !important;
  border: 0 !important;
  border-radius: 100px !important;
  padding: 12px 14px !important;
}

.ts-product-reviews-list-filter .ts-dropdown .ts-dropbtn {
  color: #3C3C3B !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
}

.ts-product-reviews-list-filter .ts-dropdown .expand_more {
  top: 10px !important;
  right: 10px !important;
  font-size: 20px !important;
}

.ts-reviews-list {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

.ts-reviews-list .ts-product-reviews-list-item {
  border: 1px solid #E2E2E2 !important;
  border-radius: 15px !important;
  padding: 20px 32px !important;
  display: flex !important;
  align-items: stretch !important;
  gap: 32px !important;
}

.ts-reviews-list .ts-product-reviews-list-item .ts-block-one {
  border-right: 1px solid #E2E2E2 !important;
  margin: 0 !important;
}

@media (max-width: 790px) {
  .ts-reviews-list .ts-product-reviews-list-item {
      flex-direction: column-reverse !important;
      gap: 16px !important;
  }
  .ts-reviews-list .ts-product-reviews-list-item .ts-block-one {
      border-right: 0 !important;
  }
}

.ts-reviews-list .ts-product-reviews-list-item .ts-block-one .ts-rating .ts-rating-text {
  text-align: left !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

span.ts-value.ts-value-title {
  font-size: 14px !important;
  color: #3C3C3B !important;
  font-weight: 700 !important;
}

.ts-reviews-list .ts-product-reviews-list-item .ts-block-two .ts-review {
  font-size: 14px !important;
  color: #3C3C3B !important;
  font-weight: 400 !important;
}

.ts-reviews-list .ts-product-reviews-list-item .ts-block-two .ts-review.ts-review-title {
  font-weight: 700 !important;
}

.ts-product-reviews-list .ts-button--more {
  margin: 8px 0 0 !important;
}

.ts-button--more span {
  border: 1.5px solid #8CBF3C !important;
  color: #8CBF3C !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border-radius: 5px !important;
}

@media (max-width: 490px) {
  .ts-button--more span {
      width: 100% !important;
      max-width: unset !important;
  }
}

.ts-v-footer {
  display: none !important;
}

.ts-shelf-container .ts-shelf-rate-count {
  display: none !important;
}

.ts-customer-questions .ts-customer-questions__title-group {
  display: flex !important;
  align-items: center !important;
}

.ts-customer-questions .ts-customer-questions__title-group .ts-customer-questions__title {
  color: #3C3C3B !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: Lemon Milk, sans-serif !important;
  padding: 0 !important;
  margin: 0 0 24px !important;
}

.ts-customer-questions .ts-customer-questions__title-group .ts-customer-questions__subtitle {
  color: #3C3C3B !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  font-family: Lemon Milk, sans-serif !important;
  padding: 16px 0 !important;
  margin: 0 0 24px !important;
  text-align: center !important;
  border-bottom: 1.5px solid #E2E2E2 !important;
  line-height: 1 !important;
}

.ts-customer-questions-list {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
  margin: 0 !important;
}

.ts-customer-questions-list .ts-questions-list-item {
  background-color: #F0F0EE !important;
  border-radius: 15px !important;
  padding: 24px !important;
  margin: 0 !important;
}

.ts-customer-questions-list .ts-questions-list-item .ts-title {
  font-size: 14px !important;
  color: #3C3C3B !important;
  font-weight: 700 !important;
}

.ts-customer-questions-list .ts-questions-list-item .ts-title_sub {
  font-size: 14px !important;
  color: #3C3C3B !important;
  font-weight: 400 !important;
  margin-top: 8px !important;
}

.ts-customer-questions-list .ts-button--more {
  margin: 0 !important;
}

.ts-customer-questions-form {
  margin: 0 !important;
}

.ts-customer-questions-form .ts-customer-questions-has-question {
  font-size: 14px !important;
  color: #3C3C3B !important;
  font-weight: 700 !important;
  font-family: Lemon Milk, sans-serif !important;
  text-align: center !important;
  margin: 0 0 8px !important;
}

.ts-customer-questions-form .ts-customer-questions-form-wrapper {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}

@media (min-width: 790px) {
  .ts-customer-questions-form .ts-customer-questions-has-question {
    text-align: left !important;
  }
  .ts-customer-questions-form .ts-customer-questions-form-wrapper {
    align-items: flex-start !important;
  }
}

.ts-customer-questions-form .ts-customer-questions-form-wrapper textarea {
  font-size: 14px !important;
  color: #3C3C3B !important;
  border-radius: 15px !important;
  border: 1.5px solid #E2E2E2 !important;
}

.ts-customer-questions-form .ts-customer-questions-form-wrapper textarea::placeholder {
  color: #E2E2E2 !important;
}

.ts-customer-questions-form .ts-customer-questions-form-wrapper button {
  width: 278px !important;
  border: 1.5px solid #8CBF3C !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: none !important;
  border-radius: 5px !important;
  background-color: #8CBF3C !important;
  margin: 8px 0 0 !important;
}

/* Trustvox - end */